@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poetsen One", sans-serif;

}

body {
    text-align: center;
    background-image: linear-gradient(to right, #008ba3, #5C2FC2);
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

a {
    width: 377px;
    height: 70px;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.1px);
    -webkit-backdrop-filter: blur(7.1px);
    border: 1px solid rgba(255, 255, 255, 0.45);    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-decoration: none;
    transition: 0.2s;
}
a:hover{
    transform: scale(1.02);

}

#back{
  
    z-index: 4;
    color: red;
    background-color: #383838;
    width: 100px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: bolder;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid white;
    text-transform: uppercase;
 }